@import "rull.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
  font-family: lato;
}

header.header {
  color:#1E212C ;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  display: flex;
  line-height: 130%;
}

header.header{
  width: 810px;
  height: 120px ;
  margin-top:190px ;
  margin-right:765px ;
  margin-bottom:92px ;
  margin-left: 345px  ;
}
.img{
  width: 810px;
  height: 360px;
  margin: 40px 765px 60px 345px ;
}
.vulputate{
  color: #1E212C;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
}
.vulputate {
  width: 810px;
  height: 90px;
  margin: 60px 765px 24px 345px;
}
.amet {
  color:#424551;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.amet {
  width: 810px;
  height: 182px;
  margin: 24px 765px 48px 345px;
}
.lorem {
  color:#1E212C ;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  width: 752px;
  height: 120px;
  margin: 48px 765px 48px 403px;
}
.mauris {
  color: #1E212C;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  width: 810px;
  height: 52px;
  margin: 48px 765px 24px 345px;
}
div.li{
  color:#424551 ;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  width: 600px;
  height: 116px;
  margin: 24px 975px 24px 377px;
}
div.enim {
  color:#424551 ;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  width: 810px;
  height: 104px;
  margin: 24px 765px 212px 345px;  
}